/* RESET */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,button,cite,code,del,dfn,em,fieldset,figure,font,img,input,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,select,tbody,textarea,tfoot,thead,tr,th,td{margin:0;padding:0;border:0 none;outline:0 none;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0 none}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}a,button,input[type="submit"],input[type="reset"]{cursor:pointer}a{text-decoration:none}a:hover{text-decoration:underline}article,aside,figure,figure img,figcaption,hgroup,footer,header,nav,section,details{display:block;}img{color:transparent;font-size:0;vertical-align:middle;}svg{overflow:hidden;}p,a{word-wrap:break-word;}*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}html,button,input,select,textarea{font-family:sans-serif;}button,a:active,a:hover{outline:0;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}textarea{overflow:auto;}
    /* end of reset */
    /* Golden ratio (0.62 + 0.38) -> for 1200px = 744px + 456px */

::-moz-selection { background:#B3D4FC; text-shadow:none; }
::selection      { background:#B3D4FC; text-shadow:none; }

html { height:100%; }
body { min-height:100%; background-color:#F4F4F4; background-image:linear-gradient(45deg, #E0E0E0, #F4F4F4); position:relative; overflow-x:hidden; }
body, input, textarea { font-family:'Open sans', Helvetica, Arial, sans-serif; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale; }

input, button, a { transition:all 0.2s ease-out; }
button:active { transform:scale(0.9); }
select option[disabled]:first-child { display:none; }
textarea { max-width:100%; min-height:100px; }

/* end of RESET */


.hpanel {
    color: #6A6C6F;

    .panel-heading {
        position: relative;
        padding:10px 4px;
        color: inherit;
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 13px;
        line-height: 1.42857143;
        font-weight: 600;
    }

    .panel-body {
        background-color: #FFF;
        padding: 20px;
        box-shadow: 0 1px 10px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.1);
        border-radius: 2px;
    }
}